/* Selector Univeral */
* {
    font-family: 'Courier New', Courier, monospace  ;
}
/* Selector de Elemento */
h2 {
    color: red;
}
/* Selector de id */
#color-blue {
    color: blue;
}
#color-green {
    color: green;
}
/* Selector de clase */
.background-yellow {
    background-color: yellow;
}
.color-orange {
    color: orange;
}
.color-white {
    color: white;
}
/* Selector combinado */
p.color-white {
    background-color: red;
}
/* Consecucion de estilos */
h2, #color-green, .background-yellow {
    text-align: center;
}

